<div class="home content-full">

<div class="h2-page-login">
<h2 id='h2-login'>Connexion</h2>
</div>

<div class="b-margin-20"></div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-inputs content-center">
    <%= f.input :email,
                required: false,
                autofocus: true,
                 label_html: { class: 'test-test-test' }
                 %>
    <%= f.input :password,
                label: 'mot de passe',
                required: false,
                error: 'mot de passe ou email inccorect ! '
                # input_html: { autocomplete: "current-password" }
                 %>
<div class="remember-me-checkbox">
    <%= f.input :remember_me, as: :boolean, input_html: { class: 'checkbox-login' } if devise_mapping.rememberable? %>
    <p class='p-new-user'>enregistrer</p>
</div>
  <br>

  <div class= "button-pill-md pill-obsydian btn-submit-page-login">
    <%= f.button :submit, "Connexion" %>
    <%# <% redirect_to dashboard_user_path(@user)%>
  </div>

  <br>

  </div>
<% end %>

<%= render "devise/shared/links"%>

</div>
